<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error page</title>
</head>
<body>
   <img style="width:100%;height: 500px;margin:100px auto ;" src="https://startbootstrap.com/assets/img/freepik/404-error-pana.svg" alt="Error"/>
   <br><h3 style="text-align: center;">This requested URL was not found on this server.</h3>
   <h4 style="text-align: center;color:purple">You are redirecting home page within 5 sec</h4>
</html>
<script>
    setTimeout(() => {
       window.location='/';
    }, 5000);
</script>